flows.json
[
    {
        "id": "6229017b5ad1471e",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd151c4f55a80931",
        "type": "mqtt in",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "payload",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "545a8fa45b63834b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "9b23c80b7c7064c4"
            ]
        ]
    },
    {
        "id": "15a3671de1cb74d9",
        "type": "mysql",
        "z": "6229017b5ad1471e",
        "mydb": "8e14692435facf1d",
        "name": "",
        "x": 1000,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9b23c80b7c7064c4",
        "type": "json",
        "z": "6229017b5ad1471e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "cea04c6e554b2816"
            ]
        ]
    },
    {
        "id": "cea04c6e554b2816",
        "type": "function",
        "z": "6229017b5ad1471e",
        "name": "function 1",
        "func": "msg.topic = \"INSERT INTO sensors_states(ValorGas, ValorLuz, ValorHum, Fecha) VALUES (\" + msg.payload.ValorGas + \",\" + msg.payload.ValorLuz + \",\" + msg.payload.ValorHum + \",\" + msg.payload.value + \", CURDATE())\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 260,
        "wires": [
            [
                "47b922d24b5b4056",
                "15a3671de1cb74d9"
            ]
        ]
    },
    {
        "id": "47b922d24b5b4056",
        "type": "debug",
        "z": "6229017b5ad1471e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "825a288b25f629bc",
        "type": "ui_button",
        "z": "6229017b5ad1471e",
        "name": "",
        "group": "fb3383a26908010f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desactivar LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 640,
        "wires": [
            [
                "5b56154c4fdc83eb"
            ]
        ]
    },
    {
        "id": "b6ac56cdf804584a",
        "type": "ui_text",
        "z": "6229017b5ad1471e",
        "group": "fb3383a26908010f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED RGB",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "5b56154c4fdc83eb",
        "type": "mqtt out",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "proyect/gas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "545a8fa45b63834b",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "f0b5e570213d2d42",
        "type": "ui_button",
        "z": "6229017b5ad1471e",
        "name": "",
        "group": "16fa213333b788dd",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desactivar motor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 640,
        "wires": [
            [
                "f0ba0cfe2d981051"
            ]
        ]
    },
    {
        "id": "1b56cc1ccb8479cb",
        "type": "ui_text",
        "z": "6229017b5ad1471e",
        "group": "16fa213333b788dd",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MOTOR",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "f0ba0cfe2d981051",
        "type": "mqtt out",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "proyect/gas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "545a8fa45b63834b",
        "x": 1110,
        "y": 640,
        "wires": []
    },
    {
        "id": "a187f8cb6b916e0d",
        "type": "ui_button",
        "z": "6229017b5ad1471e",
        "name": "",
        "group": "85b24907f365bbf5",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encender pantalla lcd",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 940,
        "wires": [
            [
                "06a6c4db9cc2aa2a"
            ]
        ]
    },
    {
        "id": "d91f11d2f79ea65b",
        "type": "ui_text",
        "z": "6229017b5ad1471e",
        "group": "85b24907f365bbf5",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PANTALLA LCD",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 460,
        "y": 840,
        "wires": []
    },
    {
        "id": "06a6c4db9cc2aa2a",
        "type": "mqtt out",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "proyect/gas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "545a8fa45b63834b",
        "x": 590,
        "y": 940,
        "wires": []
    },
    {
        "id": "0ee8e0756b8b538f",
        "type": "ui_button",
        "z": "6229017b5ad1471e",
        "name": "",
        "group": "c3ddb9671b112bf7",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encender bocina",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "E",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 940,
        "wires": [
            [
                "bc18f3f692e0192f"
            ]
        ]
    },
    {
        "id": "147907f10f027ba7",
        "type": "ui_text",
        "z": "6229017b5ad1471e",
        "group": "c3ddb9671b112bf7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BOCINAS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 960,
        "y": 840,
        "wires": []
    },
    {
        "id": "bc18f3f692e0192f",
        "type": "mqtt out",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "proyect/gas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "545a8fa45b63834b",
        "x": 1050,
        "y": 940,
        "wires": []
    },
    {
        "id": "ff19c7a35896759f",
        "type": "ui_button",
        "z": "6229017b5ad1471e",
        "name": "",
        "group": "fb3383a26908010f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activar LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "d67494b258cdaf59"
            ]
        ]
    },
    {
        "id": "d67494b258cdaf59",
        "type": "mqtt out",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "proyect/gas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "545a8fa45b63834b",
        "x": 590,
        "y": 720,
        "wires": []
    },
    {
        "id": "9f05fee9af369f3a",
        "type": "ui_button",
        "z": "6229017b5ad1471e",
        "name": "",
        "group": "16fa213333b788dd",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activar motor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 720,
        "wires": [
            [
                "d85ef7d9d844bdcb"
            ]
        ]
    },
    {
        "id": "d85ef7d9d844bdcb",
        "type": "mqtt out",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "proyect/gas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "545a8fa45b63834b",
        "x": 1090,
        "y": 720,
        "wires": []
    },
    {
        "id": "1377321fd16a13fa",
        "type": "ui_button",
        "z": "6229017b5ad1471e",
        "name": "",
        "group": "85b24907f365bbf5",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagar pantalla lcd",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "619d6983967e036a"
            ]
        ]
    },
    {
        "id": "619d6983967e036a",
        "type": "mqtt out",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "proyect/gas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "545a8fa45b63834b",
        "x": 590,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4c0baeb8cd59f13c",
        "type": "ui_button",
        "z": "6229017b5ad1471e",
        "name": "",
        "group": "c3ddb9671b112bf7",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagar bocina",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "A",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 1020,
        "wires": [
            [
                "974c30fc7749340a"
            ]
        ]
    },
    {
        "id": "974c30fc7749340a",
        "type": "mqtt out",
        "z": "6229017b5ad1471e",
        "name": "",
        "topic": "proyect/gas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "545a8fa45b63834b",
        "x": 1050,
        "y": 1020,
        "wires": []
    },
    {
        "id": "545a8fa45b63834b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.8",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8e14692435facf1d",
        "type": "MySQLdatabase",
        "name": "",
        "host": "192.168.140.169",
        "port": "3306",
        "db": "Sensor",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fb3383a26908010f",
        "type": "ui_group",
        "name": "LED",
        "tab": "34a36baa266257fc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "16fa213333b788dd",
        "type": "ui_group",
        "name": "Motor",
        "tab": "34a36baa266257fc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "85b24907f365bbf5",
        "type": "ui_group",
        "name": "PANTALLA LCD",
        "tab": "34a36baa266257fc",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c3ddb9671b112bf7",
        "type": "ui_group",
        "name": "BOCINAS",
        "tab": "34a36baa266257fc",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34a36baa266257fc",
        "type": "ui_tab",
        "name": "VIstas",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]